<% if user_signed_in? %>
    <nav class="fixed top-0 left-0 right-0 bg-white/90 backdrop-blur-sm shadow-sm">
        <div class="flex p-3 mx-5 items-center justify-between">
            <%= link_to(books_path, "data-turbo": false) do %>
                <h1 class="font-bold text-xl">Bookshelf</h1>
            <% end %>
            <div class="flex gap-4 items-center">
                <%= link_to(reservations_path) do %>
                    <%= image_tag("bookmark.svg", class: "w-6") %>
                <% end %>
                <div class="flex gap-1">
                    <%= image_tag("user.svg", class: "w-5") %>
                    <span><%= current_user.first_name %></span>
                </div>
                <%= button_to destroy_user_session_path, method: :delete, class: "flex self-baseline" do %>
                    <%= image_tag("logout.svg", class: "w-5") %>
                <% end %>
            <div>
        </div>
    </nav>
<% end %>