<%= form_with(model: @book) do |form| %>
    <div class="my-5 w-full">
        <%= form.label :title %>
        <%= form.text_field :title, class: "block shadow rounded-md w-full" %>
    </div>
    <div class="my-5 w-full">
        <%= form.label :genre %>
        <%= form.select :genre, Book.genres.keys, {}, { class: "block shadow rounded-md w-full" } %>
    </div>
    <div class="my-5 w-full">
        <%= form.label :description %>
        <%= form.text_area :description, rows: 10, class: "block shadow w-full" %>
    </div>
    <div class="my-5 w-full">
        <%= form.label :cover_url %>
        <%= form.text_field :cover_url, class: "block shadow rounded-md w-full" %>
    </div>
    <div class="py-8">
        <%= form.submit class: "w-full rounded-lg py-3 bg-green-600 text-white font-medium cursor-pointer" %>
    </div>
<% end %>