<%= turbo_frame_tag("active_reservation_badge") do %>
    <div class="bg-sky-50 shadow rounded p-6 mb-8 h-fit">
        <h3 class="font-bold mb-5">You're reading</h3>
        <div class="bg-white shadow rounded p-4 flex flex-col gap-4">
            <%= link_to(book_path(@active_reservation.book), "data-turbo-frame": "_top") do %>
                <h4 class="font-bold hover:underline"><%= @active_reservation.book.title %></h4>
            <% end %>
            <div class="flex flex-row w-full gap-2 items-center">
                <%= image_tag("arrow-down.svg", class: "w-4") %>
                <p>Reserved on <%= @active_reservation.created_at.to_date %></p>
            </div>
            <div class="flex w-full justify-center items-center">
            <%= button_to(
                "Return book",
                reservation_path(@active_reservation),
                method: :patch,
                form_class: "w-full",
                class: "w-full inline rounded-lg p-3 bg-green-600 text-white block font-medium"
            ) %>
            </div>
        </div>
    </div>
<% end %>